link(href="/libs/css/bootstrap.min.css",rel="stylesheet")
link(href="/libs/css/common.css",rel="stylesheet")
script(src="/libs/js/jquery-2.1.4.js")
script(src="/libs/js/bootstrap.min.js")
script(src="/js/public.js")
